<div class="filters">
    <mat-form-field>
        <mat-label>Sort</mat-label>
        <mat-select 
        panelClass="sort-select"
        [(ngModel)]="sort"
        >
        
        <mat-option value="name">Name</mat-option>
        <mat-option value="-released">Released</mat-option>
        <mat-option value="-added">Added</mat-option>
        <mat-option value="-created">Created</mat-option>
        <mat-option value="-update">Updated</mat-option>
        <mat-option value="-rating">Rating</mat-option>
        <mat-option value="metacritic">Metacritic</mat-option>
    
        </mat-select>
    </mat-form-field>
</div>

<div class="games">
    <div class="game">
        <div class="game-thumb-container">
            <img src="https://images.unsplash.com/photo-1600861194942-f883de0dfe96?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=869&q=80" alt="video game control" class="game-thumbnail" />
        </div>
        <div class="game-description">
            <p class="game-name">Name</p>
            <div class="game-platforms">
                <img class="game-platform" src="https://mpng.subpng.com/20201112/et/transparent-logo-icon-game-icon-xbox-logo-icon-5face7d0285f56.2505226016051670561654.jpg" alt="plataform" />
            </div>
        </div>
    </div>
</div>